/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.min.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
.vscode/launch.json
*.DS_Store
*.json
/storage/uploads
.htaccess