server {
    listen      80;
    server_name ebudezain.com www.ebudezain.com;
    return      301 https://ebudezain.com$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate     /etc/letsencrypt/live/ebudezain.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ebudezain.com/privkey.pem;

    include snippets/ssl-params.conf;

    # Log files for Debugging
    access_log /var/log/nginx/ebudezain-access.log;
    error_log /var/log/nginx/ebudezain-error.log;

    # Webroot Directory for ebudezain project
    root /var/www/ebudezain/SERVER_PHP/public;
    index index.html index.php index.htm;

    # Your Domain Name
    server_name ebudezain.com www.ebudezain.com;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # PHP-FPM Configuration Nginx
    location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
    
    location ~ /.well-known {
        allow all;
    }
}



# server {
#    listen      80;
#    server_name chat.ebudezain.com;
#    return      301 https://$server_name$request_uri;
# }
# the IP(s) on which your node server is running. I chose port 9999.
upstream chat.ebudezain.com {
    server 127.0.0.1:3000;
}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate     /etc/letsencrypt/live/chat.ebudezain.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/chat.ebudezain.com/privkey.pem;

    include snippets/ssl-params.conf;

    server_name chat.ebudezain.com;
    # Log files for Debugging
    access_log /var/log/nginx/chat-ebudezain-access.log;
    error_log /var/log/nginx/chat-ebudezain-error.log;

    location / {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_set_header X-NginX-Proxy true;
            proxy_pass http://127.0.0.1:3000;
            proxy_redirect off;
    }
}






server {
    listen 80;
    listen [::]:80;
    server_name www.ebudezain.com ebudezain.com;

    # redirects both www and non-www to https
    return 301 https://ebudezain.com$request_uri;
}

server {
    listen 443 ssl http2;
    server_name www.ebudezain.com;

    # redirects www to non-www. wasn't work for me without this server block
    return 301 https://ebudezain.com$request_uri;
}

server {

    ## SSL settings

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    # Your Domain Name
    server_name ebudezain.com;

    ssl_certificate     /etc/letsencrypt/live/ebudezain.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ebudezain.com/privkey.pem;

    include snippets/ssl-params.conf;


    # Log files for Debugging
    access_log /var/log/nginx/ebudezain-access.log;
    error_log /var/log/nginx/ebudezain-error.log;

    # Webroot Directory for ebudezain project
    root /var/www/ebudezain/SERVER_PHP/public;
    index index.html index.php index.htm;

    ###################################
    ### other vhost configuration #####
    ###################################

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # PHP-FPM Configuration Nginx
    location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
    
    location ~ /.well-known {
        allow all;
    }
}















server {
	listen 443 ssl;
	server_name www.ebudezain.com;

	# SSL
	ssl_certificate /etc/letsencrypt/live/ebudezain.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/ebudezain.com/privkey.pem;
	ssl_protocols TLSv1 TLSv1.1 TLSv1.2; 
	ssl_prefer_server_ciphers on; 
	ssl_ciphers EECDH+CHACHA20:EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;

	rewrite ^(.*) https://ebudezain.com$1 permanent;
}
server {
	listen 80;
	server_name ebudezain.com www.ebudezain.com;
	rewrite ^(.*) https://ebudezain.com$1 permanent;
}

server {
	listen 443 ssl default_server;
		
	# Log files for Debugging
    access_log /var/log/nginx/ebudezain-access.log;
    error_log /var/log/nginx/ebudezain-error.log;

	
    # Webroot Directory for ebudezain project
    root /var/www/ebudezain/SERVER_PHP/public;
    index index.html index.php index.htm;
    
    # Your Domain Name
    server_name ebudezain.com;
	
	# SSL
	ssl_certificate /etc/letsencrypt/live/ebudezain.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/ebudezain.com/privkey.pem;
	ssl_protocols TLSv1 TLSv1.1 TLSv1.2; 
	ssl_prefer_server_ciphers on; 
	ssl_ciphers EECDH+CHACHA20:EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;

        # Improve HTTPS performance with session resumption
        ssl_session_cache shared:SSL:50m;
        ssl_session_timeout 1d;

        # DH parameters
        ssl_dhparam /etc/nginx/ssl/dhparam.pem;
        # Enable HSTS
        add_header Strict-Transport-Security "max-age=31536000" always;
 
    	location / {
		try_files $uri $uri/ /index.php?$args;
	}
	
    ###################################
    ### other vhost configuration #####
    ###################################

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # PHP-FPM Configuration Nginx
    location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
    
    location ~ /.well-known {
        allow all;
    }
	
}
