cài đặt server

nếu đã tồn tại đường dẫn thì xoá đi
rm -f /etc/nginx/sites-enabled/ebudezain.com.conf

vào đường dẫn 
nano /etc/nginx/sites-available/ebudezain.com.conf

dưới đây là cấu hình VPS chuẩn chỉ có http

server {
    listen 80;
    listen [::]:80 ipv6only=on;

    # Log files for Debugging
    access_log /var/log/nginx/ebudezain-access.log;
    error_log /var/log/nginx/ebudezain-error.log;

    # Webroot Directory for ebudezain project
    root /var/www/ebudezain/SERVER_PHP/public;
    index index.php index.html index.htm;

    # Your Domain Name
    server_name ebudezain.com www.ebudezain.com;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # PHP-FPM Configuration Nginx
    location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
    }
}

copy file chuẩn bị qua file chạy thật
ln -s /etc/nginx/sites-available/ebudezain.com.conf /etc/nginx/sites-enabled/

kiểm tra nginx mới có bình thường không 
nginx -t

systemctl restart nginx

1. Cài đặt certbot
sudo add-apt-repository ppa:certbot/certbot
sudo apt update
sudo apt install certbot

Sau khi hoàn tất, trên máy sẽ có thêm 1 lệnh letsencrypt. Bạn thử kiểm tra lại bằng cách gõ letsencrypt --version. 
Đây là phần client của dịch vụ Let's Enscrypt.

cài xong có khi đang gõ http nó tự redirect qua https

2. cấu hình cho nginx nhận certbot
- cấu hình laravel để có thể chạy let scrypt
 
server {
    listen 80;
    listen [::]:80;

    # Log files for Debugging
    access_log /var/log/nginx/ebudezain-access.log;
    error_log /var/log/nginx/ebudezain-error.log;

    # Webroot Directory for ebudezain project
    root /var/www/hanhtrinh247/SERVER_PHP/public;
    index index.php index.html index.htm;

    # Your Domain Name
    server_name ebudezain.com www.ebudezain.com;

    charset utf-8;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_page 404 /index.php;

    # PHP-FPM Configuration Nginx
    location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
    }

    location ~ /.well-known {
        allow all;
    }
}


sau khi thêm 
location ~ /.well-known {
        allow all;
    }
thif Thư mục .well-known là nơi Let's Enscrypt sẽ thử access. Bây giờ chúng ta cấu hình lại nginx để từ bên ngoài có thể truy cập đến http://domain.pro/index.html và http://domain.pro/.well-known
Load lại thiết lập nginx:

sudo service nginx reload
Nếu mọi thứ chính xác, reload lại trang http://getsolution.pro, chúng ta sẽ nhận được nội dung index.html:

3. Tạo SSL Certificate files
Với lệnh như dưới:

Tạo SSL certificate (thay example.com bằng tên miền của bạn và /var/www/example.com là đường dẫn đến thư mục gốc của website):

sudo letsencrypt certonly -a webroot --webroot-path=/var/www/hanhtrinh247/SERVER_PHP/public -d ebudezain.com -d *.ebudezain.com
Nếu thành công output sẽ trông như sau:

IMPORTANT NOTES:
 - Congratulations! Your certificate and chain have been saved at:
   /etc/letsencrypt/live/ebudezain.com/fullchain.pem
   Your key file has been saved at:
   /etc/letsencrypt/live/ebudezain.com/privkey.pem
   Your cert will expire on 2020-11-27. To obtain a new or tweaked
   version of this certificate in the future, simply run certbot
   again. To non-interactively renew *all* of your certificates, run
   "certbot renew"
 - If you like Certbot, please consider supporting our work by:

   Donating to ISRG / Let's Encrypt:   https://letsencrypt.org/donate
   Donating to EFF:                    https://eff.org/donate-le



Bước 3: Cấu hình SSL cho website

Để tăng tính bảo mật, tạo Strong Diffie-Hellman Group (dùng cho Nginx) :

sudo openssl dhparam -out /etc/ssl/certs/dhparam.pem 2048
Tạo 1 snippet cho Nginx để có thể tái sử dụng được khi muốn cấu hình cho nhiều website:

sudo nano /etc/nginx/snippets/ssl-params.conf
Nội dung file như sau:

server {
    listen      80;
    server_name ebudezain.com www.ebudezain.com;
    return      301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate     /etc/letsencrypt/live/ebudezain.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ebudezain.com/privkey.pem;

    include snippets/ssl-params.conf;

    # Log files for Debugging
    access_log /var/log/nginx/ebudezain-access.log;
    error_log /var/log/nginx/ebudezain-error.log;

    # Webroot Directory for ebudezain project
    root /var/www/hanhtrinh247/SERVER_PHP/public;
    index index.php index.html index.htm;

    # Your Domain Name
    server_name ebudezain.com www.ebudezain.com;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # PHP-FPM Configuration Nginx
    location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /.well-known {
        allow all;
    }
}

copy file chuẩn bị qua file chạy thật
ln -s /etc/nginx/sites-available/ebudezain.com.conf /etc/nginx/sites-enabled/

kiểm tra nginx mới có bình thường không 
nginx -t

nếu ok thì 
Bây giờ bạn restart lại nginx
systemctl restart nginx


5. gia hạn liên tục

thêm cron vào vps
sudo apt-get update
sudo apt-get install cron




cài mongodb 
https://vinasupport.com/mongodb-la-gi-huong-dan-cai-dat-mongodb-tren-ubuntu/


6. Bước 6: Tạo user Admin
Tiếp theo hãy tạo một người dùng MongoDB mà bạn sẽ sử dụng để truy cập và quản lý MongoDB của mình.

Đầu tiên hãy gõ lệnh sau:

mongo
Sau đó hãy gõ lệnh sau để kết nối với cơ sở dữ liệu quản trị viên:

use admin
Screenshot_33

Tạo người dùng mới với vai trò userAdminAnyDatabase:

db.createUser( { user: "Username", pwd: "Mật-khẩu", roles: [{role: "userAdminAnyDatabase", db: "admin"}]})
Trong đó: Username và Mật-Khẩu các bạn đặt tuỳ ý

Screenshot_34 - cài đặt MongoDB trên CentOS 7

Thoát khỏi mongo với lệnh:

quit()
Để kiểm tra các thay đổi, truy cập shell mongo bằng người dùng quản trị mà bạn đã tạo trước đó:

mongo -u username -p --authenticationDatabase admin
Thay username bằng username các bạn đã tạo ở bước trên
Bây giờ, bạn có thể in người dùng bằng lệnh sau:

use admin
show users
Screenshot_36 - cài đặt MongoDB trên CentOS 7

7. Link tham khảo
https://docs.mongodb.com/manual/





thêm nginx cho chat dạng http 

# Default server configuration
server {
        listen 80;
        listen [::]:80;
        server_name chat.ebudezain.com;

    location / {
        proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
    
    # Allow location for Acme challenge - you also might need to allow 'dotfiles' in Express (see next section)
    location ~ /.well-known {
        allow all;
	    proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
    }	
}


////////////////////////////////
https://itnext.io/node-express-letsencrypt-generate-a-free-ssl-certificate-and-run-an-https-server-in-5-minutes-a730fbe528ca
# server {
#    listen      80;
#    server_name chat.ebudezain.com;
#    return      301 https://$server_name$request_uri;
# }
# the IP(s) on which your node server is running. I chose port 9999.
upstream chat.ebudezain.com {
    server 127.0.0.1:3000;
}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    ssl_certificate     /etc/letsencrypt/live/chat.ebudezain.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/chat.ebudezain.com/privkey.pem;
    
    include snippets/ssl-params.conf;

    server_name chat.ebudezain.com;
    # Log files for Debugging
    access_log /var/log/nginx/chat-ebudezain-access.log;
    error_log /var/log/nginx/chat-ebudezain-error.log;

    location / {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_set_header X-NginX-Proxy true;
            proxy_pass http://127.0.0.1:3000;
            proxy_redirect off;
    }
}

