.calendar-footer{
    background-color: #fff;
    border: 1px solid #2dc187;
    position: relative;
    margin-top: 15px;
    padding: 15px;

    span{
        padding-right: 20px;
        vertical-align: middle;
        &:first-child{
            &:before{
                content: '.';
                vertical-align: middle;
                margin-bottom: .3em;
                width: 15px;
                height: 15px;
                display: inline-block;
                color: transparent;
                background-color: #06784b;
            }
        }
        &:last-child{
            &:before{
                content: '.';
                vertical-align: middle;
                margin-bottom: .3em;
                width: 15px;
                height: 15px;
                display: inline-block;
                color: transparent;
                background-color: #fc6536;
            }
        }
    }
}