
/* Author: TRƯƠNG THANH HÙNG Author URI: https://www.facebook.com/HungSmurf Version: 1.0 Description: . */

@charset "UTF-8";
*,
 :after,
 :before {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

 :focus {
    outline: 0 !important;
    text-decoration: none !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

caption,
th,
td {
    text-align: left;
    padding: 5px 10px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
time {
    display: block;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover,
a:active {
    background-color: transparent;
    color: #bbb;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    margin: 0px;
    padding: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, .075);
}


/*page ----------------------------------------------------*/

.line-height-0 {
    line-height: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 14px;
    font-weight: normal;
    color: #111;
    text-decoration: none;
    line-height: 1.7;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

.float-none {
    float: none!important;
}

.mobile {
    display: none;
}

.small {
    display: none;
}


/* Clearfix -----------------------------------------*/

.clear {
    zoom: 1;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}


/** * display */

.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.position-relative {
    position: relative;
}



.italic {
	font-style: italic!important
}

.not-italic {
	font-style: normal!important
}

.uppercase {
	text-transform: uppercase!important
}

.lowercase {
	text-transform: lowercase!important
}

.capitalize {
	text-transform: capitalize!important
}

.normal-case {
	text-transform: none!important
}

.underline {
	text-decoration: underline!important
}

.line-through {
	text-decoration: line-through!important
}

.no-underline {
	text-decoration: none!important
}

/**************************************************/

.font-hairline {
	font-weight: 100!important
}

.font-thin {
	font-weight: 200!important
}

.font-light {
	font-weight: 300!important
}

.font-normal {
	font-weight: 400!important
}

.font-medium {
	font-weight: 500!important
}

.font-semibold {
	font-weight: 600!important
}

.font-bold {
	font-weight: 700!important
}

.font-extrabold {
	font-weight: 800!important
}

.font-black {
	font-weight: 900!important
}
//// text aline 
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}



//// margin AUTO  
.vertical-align-middle{
	vertical-align: middle;
}
.mg-auto{
	margin-left: auto;
	margin-right: auto
}

.rounded-circle {
  border-radius: 50% !important;
}

.border {
  border: 1px solid #dee2e6!important;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}
.border-right {
  border-right: 1px solid #dee2e6!important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}
.border-left {
  border-left: 1px solid #dee2e6!important;
}

@each $name, $color in $custom-colors {
  .text-color-#{""+$name} {
    color: $color;
  }
}
@each $name, $color in $custom-colors {
  
  .border-color-#{""+$name} {
    border-color: $color;
  }
}
@each $name, $color in $custom-colors {
  
  .bg-color-#{""+$name} {
    background-color: $color;
  }
}

@each $width in $custom-width {
  .w-#{$width} {
    width: $width;
  }
}

@each $name, $font-size in $custom-font-size {
  .text-#{""+$name} {
    font-size: $font-size
  }
}

body.neo-scroll {
  overflow: hidden;
}

input, select, textarea, option{
  &:focus{
    border: 1px solid #aaaaaa;
    outline: none;
  }
}