.wrapper-header-page {
    height: 70px;
    background-color: #2d425b;
}
.btn-admin-setting {
    padding: 15px;
    text-align: right;
    position: relative;

    .avatar{
        width: 35px;
        height: auto;
        border-radius: 50%;
    }

    &>li>a{
        color: black;
        cursor: pointer;
        text-transform: capitalize;
    }
    &>li .submenu {
        height: 0;
        opacity: 0;
        overflow: hidden;

        &>li{

            &>a {
                padding: 10px;
                display: block;
                cursor: pointer;
            }
            &:hover>a{
                background-color: #f5f5f5;
                border-radius: 2px;
                color: black;
            }
        }
    }
    &:hover>li .submenu {
        height: initial;
        opacity: 1;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $white;
        z-index: 1;
        width: 220px;
        border-radius: 4px;
        padding: 5px 10px;
        text-align: left;
        border: 1px solid #ddd;
    }
}

i.hero-icon{
    &.icon-angle-down{
        color: $white;
        display: inline-block;
        vertical-align: 0.5em;
    }
}

.admin-main-content{
    margin-left: 280px;
    color: #495057;
    background: #f1f4f6;
    min-height: 100vh;
}
.admin-sidebar{
    padding: 0 15px;
    background-color: beige;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(#141e30), to(#243b55)) !important;
    background-image: -webkit-linear-gradient(left, #141e30, #243b55) !important;
    background-image: -o-linear-gradient(left, #141e30, #243b55) !important;
    background-image: linear-gradient(to right, #141e30, #243b55) !important;
}
.admin-sidebar:after {
    display: block;
    content: ' ';
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(/images/sidebar.jpg);
    opacity: 0.05;
    z-index: -1;
}
.logo-sidebar {
    display: block;
    text-align: center;
    border-bottom: 1px solid #7d73a7;
    padding: 10px;
}
.logo-sidebar img {
    height: 50px;
    width: auto;
    max-width: initial;
}
.admin-sidebar>ul {
    padding-top: 10px;
    height: calc(100vh - 80px) ;
}
.admin-sidebar ul li a.active, .admin-sidebar ul li ul li a:hover {
    background: #35465b;
    border-radius: 4px;
    color: $white;
}
.admin-sidebar ul li a {
    
    display: block;
    padding: 0 1.5rem 0 30px;
    line-height: 2.5;
    color: $gray-500;
    text-transform: capitalize;
}
.admin-sidebar .block-session {
    color: $gray-200;
    padding: 0 12px;
    font-size: 13px;
    color: $custom-light;
    text-transform: uppercase;
}
.admin-main-content .page-title {
    background: #f9fafb;
    padding: 15px 40px 0 40px;
    text-align: left;
}
.admin-main-content .page-title .headding {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.admin-main-content .admin-wrapper-content-field {
    padding: 15px;
}
.admin-main-content .admin-wrapper-content-field .block-content {
    padding: 8px 15px;
}
.admin-main-content .admin-wrapper-content-field .block-content .title {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.admin-main-content .admin-wrapper-content-field .block-content textarea.h-100{
    height: 100%!important;
}
.height-150px{
    height: 150px!important;
}
.admin-main-content .admin-wrapper-content-field .block-content textarea{
    display: block;
    width: 100%!important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $gray-300;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.admin-main-content .admin-wrapper-content-field .block-content input {
    display: block;
    width: 100%!important;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $gray-300;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.admin-main-content .admin-wrapper-content-field .block-content textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #067def;
    outline: 0;
    border: none;
    -webkit-box-shadow: 0 0 0 1px #053970;
    box-shadow: 0 0 0 1px #053970;
}
.admin-main-content .admin-wrapper-content-field .block-content input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #067def;
    outline: 0;
    border: none;
    -webkit-box-shadow: 0 0 0 1px #053970;
    box-shadow: 0 0 0 1px #053970;
}
.btn-remove-row{
    border: 0;
    outline: transparent;
    color: #770710;
    fill: #770710;
    cursor: pointer;
    background-color: transparent;

    .hero-icon{
        font-size: 28px;
    }
}

.hminpx-200{
    min-height: 200px;
}

.wrapper-main-page .select2-container--default 
.select2-selection--multiple 
.select2-selection__rendered li{
    width: 100%
}

.wrapper-main-page .select2-container--default .select2-selection--single{
    min-height: 46px;
    border-radius: 0;
    border-color: $gray-300
}
.wrapper-main-page .select2-container{
    width : 100%!important;
}
.wrapper-main-page .select2-container--default .select2-selection--multiple{
    border-radius: 0;
    border-color: $gray-300;
}
.wrapper-main-page .select2-container 
.select2-selection--single .select2-selection__rendered{
    padding-top: 10px
}
.wrapper-main-page .select2-container--default 
.select2-selection--single .select2-selection__arrow{
    top: 10px;
}
.wrapper-main-page .select2-container--default .select2-results>.select2-results__options,
.wrapper-main-page .select2-container--default .select2-results>.select2-results__options li{
    border-radius: 0;
    border-color: $gray-300
}
.error{
    color: #770710;
}
.wrapper__selectImageWithCKFinder{


    &.output-image-finder{
        padding-top: 15px;
    }

    &.type-select-ckfinder__inline {
    
        .output-image-finder{
            position: absolute;
            left: 0;
            top: 0;
            width: auto;
            height: 38px;
        }
    }
}

.btn{

    padding: 0.7rem 2.44rem;
    border: 0;
    border-radius: 0;
    font-size: 12px;
}
.btn-save-data{
    background-color: #007e33!important;
    color: $gray-100;
    cursor: pointer;

    &:disabled{
        cursor: unset
    }
}
.btn-input-append.btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 38px;
    padding: 0.7rem;
    border: 1px solid #f2f2f2;
    box-shadow: none;
    border-color: #00bcd4 !important;
    background-color: #00bcd4 !important;
    color: #fff !important;
}
.btn-select-thumb{
    background-color: #4285f4 !important;
    color: #fff !important;
}
ul.pagination li {
    display: inline;
    font-size: 12px;
    font-weight: bold;
}

ul.pagination li a {

    color: black;
    padding: 8px 8px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    padding: 8px 8px;
    margin: 4px;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li.active {
    /*background-color: #4CAF50;*/
    background-color: #687282;
    padding: 8px 8px;
    margin: 4px;
    color: white;
    border: 1px solid #4CAF50;
}

/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination li a:hover {background-color: #999999;}

ul.pagination li.disabled {
    /*background-color: #cccccc;*/
    color: #ddd;
    padding: 8px 8px;
    border: 1px solid #ddd;
    margin: 4px;
}

.table-list {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}
.thead-list>div {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.trow-list>div, .thead-list>div {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.thead-list>div {
    text-align: inherit;
}

.trow-list:hover {
    background-color: rgba(0,0,0,.075);
}

@media screen and (max-width: 1199.98px){
    .PageTitle {
        text-align: center;
    }
}



