@import "../variable";
@import "../mixin";


.component-list-emoji{
  position: absolute;
  left: 50%;
  right: 50%;
  padding: 10px;
  border: 1px solid $gray-200;
  border-radius: 10px;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  height: 0;
  @include clearfix();
  &.first-show{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: tada;
  }
  &.show{
    visibility: unset;
    height: unset;
    bottom: 100%;
    left: 20px;
    right: 20px;
    opacity: 1;
    
  }
}
.component-emoji{
  width: 34px;
  height: 34px;
  float: left;
  text-align: center;
  display: block;
  cursor: pointer;
  line-height: 24px;
    font: normal normal normal 24px/1 "HERO Icons";
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  color: $custom-primary-color-dark;
}




// { symbol : "🙂", sign : ":)" },
// { symbol : "🙂", sign : "=)" },
// { symbol : "😊", sign : ":^)" },
// { symbol : "😀", sign : ":}" },
// { symbol : "😁", sign : ":o)" },
// { symbol : "😃", sign : ":‑D" },
// { symbol : "😄", sign : "=D" },
// { symbol : "😆", sign : "X‑D" },
// { symbol : "😍", sign : "B^D" },
// { symbol : "🙁", sign : ":‑(" },
// { symbol : "😠", sign : ":(" },
// { symbol : "😡", sign : ":‑<" },
// { symbol : "😞", sign : ":[" },
// { symbol : "😟", sign : ">:[" },
// { symbol : "😣", sign : ":{" },
// { symbol : "😖", sign : ">:(" },
// { symbol : "😢", sign : ":'‑(" },
// { symbol : "😭", sign : ":'(" },
// { symbol : "😂", sign : ":')" },
// { symbol : "😨", sign : "D‑':" },
// { symbol : "😧", sign : "D:<" },
// { symbol : "😦", sign : "D:" },
// { symbol : "😱", sign : "D;" },
// { symbol : "😫", sign : "D=" },
// { symbol : "😩", sign : "DX" },
// { symbol : "😮", sign : ":-0" },
// { symbol : "😯", sign : "8‑0" },
// { symbol : "😲", sign : ">:O" },
// { symbol : "😗", sign : ":-*" },
// { symbol : "😙", sign : ":^*" },
// { symbol : "😚", sign : ":^-" },
// { symbol : "😘", sign : ":x" },
// { symbol : "😍", sign : ":X" },
// { symbol : "😉", sign : ";‑)" },
// { symbol : "😜", sign : "*-)" },
// { symbol : "😘", sign : ";D" },
// { symbol : "😛", sign : ":P" },
// { symbol : "😝", sign : "x‑p" },
// { symbol : "😜", sign : "=p" },
// { symbol : "🤑", sign : ">:P" },
// { symbol : "🤔", sign : ":‑/" },
// { symbol : "😕", sign : ":‑." },
// { symbol : "😟", sign : ":S" },
// { symbol : "😐", sign : ":‑|" },
// { symbol : "😑", sign : ":|" },
// { symbol : "😳", sign : ":$" },
// { symbol : "😞", sign : ":b3" },
// { symbol : "😖", sign : ":‑X" },
// { symbol : "🤐", sign : ":&" },
// { symbol : "😶", sign : "O:‑)" },
// { symbol : "😇", sign : "O:)" },
// { symbol : "👼", sign : "0;^)" },
// { symbol : "😈", sign : ">;3" },
// { symbol : "😎", sign : "|;‑)" },
// { symbol : "😪", sign : "|‑O" },
// { symbol : "😏", sign : ":‑J" },
// { symbol : "😒", sign : "#‑)" },
// { symbol : "😵", sign : "%‑)" },
// { symbol : "😕", sign : "%)" },
// { symbol : "🤒", sign : ":#/" },
// { symbol : "😷", sign : ":D-" },
// { symbol : "🤢", sign : ":cR" },
// { symbol : "🤕", sign : "<:‑/" },
// { symbol : "🤨", sign : ":-l" },
// { symbol : "💝", sign : "<3" }
  