.wrapper-footer-page {
	text-align: center;
	.head-footer {
		padding: 60px 60px 15px 60px;
		@include Responsive(SM) {
			padding: 20px 0 15px 0;
		}
		.footer-title {
			font-size: 26px;
			line-height: 45px;
			font-family: $font-archivo-medium;
			.footer-go-to-chat {
				cursor: pointer;
			}
		}
		.des-footer {
			margin: 0 auto;
			padding: 20px;
			max-width: 600px;
		}
	}
	.option-contact {
		display: block;
		max-width: 900px;
		margin: 0 auto;
		@include clearfix();
		.item-advisory {
			padding: 15px;
			display: block;
			float: left;
			position: relative;
			@include Responsive(SM) {
				float: none;
				text-align: left;
			}
			&:nth-child(1) {
				width: 40%;
				@include Responsive(SM) {
					width: 100%;
				}
			}
			&:nth-child(2) {
				width: 30%;
				@include Responsive(SM) {
					width: 100%;
				}
			}
			&:nth-child(3) {
				width: 30%;
				@include Responsive(SM) {
					width: 100%;
				}
			}
			.hero-icon {
				display: inline-block;
				font-size: 32px;
				vertical-align: middle;
				color: $custom-deep-purple;
				opacity: 0.7;
			}
			.option-contact-content {
				vertical-align: middle;
				display: inline-block;
				padding-left: 10px;
				text-align: left;
				font-size: 13px;
				.type {
					a {
						color: $gray-500;
					}
				}
				.link {
					color: $black;
					&:hover {
						color: $gray-700;
					}
				}
			}
		}
	}
	.component-footer-content {
		text-align: left;
		max-width: 1100px;
		margin: 0 auto;
		border-top: 1px solid $gray-600;
		padding-top: 20px;
		@include clearfix();
		.about-us {
			width: 30%;
			@include Responsive(LG) {
				width: 50%;
			}
			@include Responsive(SM) {
				width: 100%;
				float: none;
			}
		}
		.service-us {
			width: 30%;
			@include Responsive(LG) {
				width: 50%;
			}
			@include Responsive(SM) {
				width: 100%;
				float: none;
			}
		}
		.map-us {
			width: 40%;
			float: left;
			min-width: 300px;
			height: 100%;
			height: 250px;
			position: relative;
			overflow: hidden;
			@include Responsive(LG) {
				width: 100%;
				float: none;
			}
		}
		.about-us,
		.service-us {
			padding: 15px;
			line-height: 1;
			vertical-align: middle;
			float: left;
			font-family: $font-archivo-medium;
			.company-name,
			.tax-code,
			.tax-code-date,
			.address,
			.phone,
			.email,
			.seo-standard,
			.chat-realtime,
			.recruit,
			.news,
			.marketing-sale-online,
			.responsive {
				margin-bottom: 10px;
				cursor: pointer;
				&:hover {
					span {
						color: $gray-500;
					}
					a {
						color: $link-hover-color;
					}
					.hero-icon {
						color: $custom-purple;
					}
				}
			}
			.title {
				font-size: 21px;
				color: $custom-primary-color-dark;
				text-transform: capitalize;
				padding-bottom: 15px;
				margin-bottom: 0;
			}
			span,
			a {
				vertical-align: middle;
				font-size: 13px;
				color: $gray-700;
			}
			.hero-icon {
				width: 20px;
				margin-right: 10px;
				vertical-align: middle;
				font-size: 24px;
				color: $custom-primary-color-dark;
			}
		}
	}
}

.address_detail_map {
	font-size: 11px;
	color: $gray-700;
}

.main_color {
	font-size: 13px;
	color: $custom-primary-color-dark;
}