



.component-menu.menu-home-page{
  position: absolute;
    top: 30px;
    right: 10%;
    z-index: 999;
    background-color: $white;
    box-shadow: -4px 20px 40px rgba(0, 0, 0, 0.15);

    @include Responsive(SM){
      top: 90px;
      left: 0;
      right: 0;
      text-align: center;
      margin: 0 auto;
      box-shadow: none;
      background-color: transparent;
    }

  .wrapper-link{
    margin: 0;
    padding: 0 10px 8px;
    @include clearfix();
    @include Responsive(SM){
      text-align: center;
      margin: 0 auto;
      padding: 0 5px;
    }

    li{
      padding: 0 15px;
      float: left;
      @include Responsive(SM){
        float: none;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
      }
      @include Responsive(XS){
        padding: 0 4px;
      }

      a{
        display: block;
        padding: 10px 3px 5px;
        font-size: 19px;
        margin-left: 3px;
        color: $custom-primary-color-dark;
        font-weight: 900;
        position: relative;
        @include Responsive(XS){
          font-size: 14px;
          &:after{
            border-bottom: 2px solid $custom-primary-color-dark;
          }
        }

        &:after{
          content: '.';
          color: transparent;
          position: absolute;
          left: 50%;
          right: 50%;
          bottom: 0;
          border-bottom: 3px solid $custom-primary-color-dark;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
        }
        &:hover, &.active{
          color: $link-color;

          &:after{
            left: 0;
            right: 0;

          }
        }
      }
    }

  }
}










.service-description {
  margin-top: 40px;
  max-width: 370px;
  padding: 0 0 0 60px;
  position: relative;
  line-height: 1.66em;
  font-family: $font-logo;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: $gray-700;
  @include Responsive(MD){
    padding: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto;
  }


  &::before {
    content: ".";
    color: transparent;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 0;
    border-top: 1px solid $gray-900;

    @include Responsive(MD){
      display: none
    }
  }
  
}
.text-bordered {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 1em;
  -webkit-text-stroke-color: rgba(2, 5, 73, 0.14);
  -webkit-text-stroke-width: 2px;
  color: transparent;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-family: $font-archivo-medium;
  font-size: 2.5em;

  @include Responsive(SM){
    font-size: 2em;
    text-align: center;
  }
  @include Responsive(XS){
    font-size: 1.7em;
   
  }


  &:hover{
    color: $cyan;
    opacity: .2;
  }
}


.component-web-design-image{
  overflow: hidden;
  width: 100%;

  img{
    width: 40%;
    height: auto;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;
  }

  .box-samples-img-1{
    position: absolute;
    top: 20%;
    left: 15px;
  }
  .box-samples-img-2{
    position: absolute;
    top: 10%;
    right: 15px;
  }
  .box-samples-img-3{
    position: absolute;
    bottom: 10%;
    right: 20%;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}










