.component-home {
	overflow: hidden;
}

.topic-website-selector {
	background-color: transparent;
	padding: 15px 0;
	
	.title-topic {
		background: transparent url(/images/background/bg_title.png) no-repeat scroll center bottom;
		color: #142149;
		display: block;
		font-family: RCB;
		font-size: 25px;
		padding: 15px 30px 15px;
		text-align: center;
		text-transform: uppercase;
	}
	@include Responsive(SM) {
		padding: 0 0 30px;
		.title-topic {
			font-size: 18px;
		}
	}
}

.wrapper-website-selector {
	width: 90%;
	margin: 15px auto 0;
	@include Responsive(SM) {
		width: 100%;
		margin: 0 auto;
	}
	.block-website-selector {
		width: 30%;
		margin: 1px auto;
		background-color: $gray-200;
		padding: 15px;
		float: left;
		cursor: pointer;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		transition: all 0.5s;
		svg {
			-webkit-transition: all 1s;
			-moz-transition: all 1s;
			-o-transition: all 1s;
			-ms-transition: all 1s;
			transition: all 1s;
		}
		&:hover {
			box-shadow: -4px 20px 40px rgba(0, 0, 0, 0.15);
			svg {
				transform: rotate(180deg);
			}
		}
		&.middle {
			width: 40%;
			background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
			margin-top: -15px;
		}
		@include Responsive(SM) {
			display: block;
			float: none;
			width: 80%;
			&.middle {
				width: 80%;
				margin-top: 0px;
			}
		}
		@include Responsive(XS) {
			width: 95%;
			&.middle {
				width: 95%;
			}
		}
		.icon-title-block {
			text-align: center;
			position: relative;
			.icon-title {
				.icon-abs-middle {
					position: absolute;
					left: 50%;
					top: 50%;
					z-index: 11;
					font-size: 28px;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
				.hero-creation {
					color: #aa51bb;
				}
				.hero-format-list-text {
					color: #f86729;
				}
				.hero-auto-fix {
					color: #a5770d;
				}
			}
		}
		.title-block-language {
			text-align: center;
			font-size: 24px;
			color: #253811;
			text-transform: uppercase;
			font-weight: bold;
			padding: 15px 0;
		}
		.content-language {
			text-align: center;
			color: #142149;
		}
	}
}

.component-home-intro-layout {
	@include clearfix();
	@include Responsive(SM) {
		padding: 0 3px;
	}
	.wrapper-item-craft-layout {
		display: block;
		width: 33.3333%;
		float: left;
		padding: 15px;
		@include Responsive(SM) {
			padding: 3px;
			width: 50%;
			&:last-child {
				display: none;
			}
			figure.box-modern-figure {
				display: block;
				margin: 15px 0;
			}
		}
		figure.box-modern-figure {
			display: block;
			margin: 25px 0;
			img {
				&:hover {
					opacity: 0.8;
					box-shadow: 0 4px 12px $gray-800;
				}
			}
		}
		.box-modern-title {
			text-align: center;
			@include Responsive(SM) {
				font-size: 13px;
			}
		}
	}
}

.component-standard-contract {
	display: block;
	padding: 15px;
	text-align: center;
	cursor: pointer;
	@include clearfix();
	@include Responsive(SM) {
		padding: 15px 0;
	}
	.component-item-standard-contract {
		overflow: hidden;
		display: block;
		padding: 15px;
		width: 25%;
		float: left;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		transition: all 0.5s;
		&:hover {
			box-shadow: -4px 20px 40px rgba(0, 0, 0, 0.15);
		}
		a {
			display: block;
			color: inherit;
		}
		@include Responsive(SM) {
			width: 50%;
			padding: 15px 0;
		}
		&:hover {
			.des-standard-contract {
				color: #03275e;
			}
			.wrapper-icon-item-standard {
				border-color: #46bece;
				.hero-icon {
					color: #46bece;
				}
			}
		}
		.des-standard-contract {
			font-size: 15px;
			padding: 15px;
			@include Responsive(XS) {
				padding: 15px 5px;
			}
		}
		.wrapper-icon-item-standard {
			margin: 0 auto 15px;
			width: 60px;
			height: 60px;
			display: block;
			border-radius: 50%;
			border: 1px solid #0d47a1;
			position: relative;
			.hero-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				color: #0d47a1;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				font-size: 32px;
			}
		}
	}
}